* {
  box-sizing: border-box;
}

.macBookPro161 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #ffffff;
  width: 1728px;
  height: 1117px;
  overflow: hidden;

  .rectangle2 {
    background: #d9d9d9;
    width: 260px;
    height: 1117px;
  }

  .rectangle13 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: #ffffff;
    padding-top: 17px;
    padding-bottom: 31px;

    .text2 {
      line-height: 17px;
      letter-spacing: 0;
      color: #000000;
      font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 14px;
    }

    .text {
      margin: 0px 0px 0px 15px;
      line-height: 19px;
      letter-spacing: 0;
      color: #000000;
      font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 16px;
    }

    .line1 {
      margin-top: 15px;
      background: #d9d9d9;
      width: 1468px;
      height: 1px;
    }

    .autoWrapper {
      display: flex;
      align-items: center;
      align-self: stretch;
      justify-content: space-between;
      margin-top: 20px;
      padding-right: 1078px;
      padding-left: 15px;
    }

    .autoWrapper10 {
      display: flex;
      align-items: flex-start;
      align-self: stretch;
      justify-content: space-between;
      margin-top: 14px;
      padding-right: 498px;
      padding-left: 15px;

      .autoWrapper7 {
        position: relative;
        width: 288px;
        height: 413px;

        .bfc842820B824A3A99A72 {
          margin: 0px 0px 0px 39px;
          width: 234px;
          height: 14px;
          line-height: 20px;
          letter-spacing: 0;
          color: #000000;
          font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 12px;
        }

        .line2 {
          margin-top: 13px;
          background: #d9d9d9;
          width: 288px;
          height: 1px;
        }

        .autoWrapper6 {
          display: flex;
          align-items: flex-start;
          align-self: stretch;
          margin-top: 5px;
          padding-right: 23px;
          padding-left: 14px;

          .rectangle12 {
            border: 1px solid #e5e7eb;
            border-radius: 2px;
            background: #ffffff;
            width: 14px;
            height: 14px;
          }

          .billyMacLocal2 {
            margin: 7px 0px 0px 11px;
            line-height: 20px;
            letter-spacing: 0;
            color: #000000;
            font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 12px;
          }

          .a19216811402 {
            margin: 7px 0px 0px 75px;
            line-height: 20px;
            letter-spacing: 0;
            color: #000000;
            font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 12px;
          }
        }

        .autoWrapper2 {
          position: relative;
          margin-left: 39px;
          width: 234px;
          height: 14px;

          .bfc842820B824A3A99A7 {
            position: absolute;
            top: 0;
            left: 0;
            width: 234px;
            height: 14px;
            line-height: 20px;
            letter-spacing: 0;
            color: #000000;
            font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 12px;
          }
        }

        .autoWrapper5 {
          display: flex;
          align-items: flex-start;
          align-self: stretch;
          margin-top: 5px;
          padding-right: 23px;
          padding-left: 14px;

          .checkbox {
            display: flex;
            align-items: flex-start;
            column-gap: 8px;
            border: 1px solid #e5e7eb;
            border-radius: 2px;
            width: 14px;
            height: 14px;

            .rectangle1 {
              flex-shrink: 0;
              border: 1px solid #e5e7eb;
              border-radius: 2px;
              background: #ffffff;
              width: 14px;
              height: 14px;
            }
          }

          .autoWrapper3 {
            position: relative;
            margin-top: 7px;
            margin-left: 11px;
            width: 74px;
            height: 20px;

            .billyMacLocal {
              position: absolute;
              top: 0;
              left: 0;
              width: 74px;
              height: 20px;
              line-height: 20px;
              letter-spacing: 0;
              color: #000000;
              font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 12px;
            }
          }

          .autoWrapper4 {
            position: relative;
            margin-top: 7px;
            margin-left: 75px;
            width: 77px;
            height: 20px;

            .a1921681140 {
              position: absolute;
              top: 0;
              left: 0;
              width: 77px;
              height: 20px;
              line-height: 20px;
              letter-spacing: 0;
              color: #000000;
              font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 12px;
            }
          }
        }

        .rectangle3 {
          position: absolute;
          top: 0;
          left: 0;
          border: 1px solid #d9d9d9;
          border-radius: 10px;
          background: #ffffff;
          width: 288px;
          height: 413px;
        }

        .group3 {
          display: flex;
          position: absolute;
          top: 6px;
          right: -1px;
          flex-direction: column;
          align-items: flex-start;
          width: 288px;
          height: 59px;
        }

        .group4 {
          display: flex;
          position: absolute;
          top: 72px;
          right: -1px;
          flex-direction: column;
          align-items: flex-start;
          width: 288px;
          height: 59px;
        }

        .group5 {
          display: flex;
          position: absolute;
          top: 138px;
          right: -1px;
          flex-direction: column;
          align-items: flex-start;
          width: 288px;
          height: 59px;
        }

        .group6 {
          display: flex;
          position: absolute;
          top: 204px;
          right: -1px;
          flex-direction: column;
          align-items: flex-start;
          width: 288px;
          height: 59px;
        }

        .group7 {
          display: flex;
          position: absolute;
          top: 270px;
          right: -1px;
          flex-direction: column;
          align-items: flex-start;
          width: 288px;
          height: 59px;
        }

        .group9 {
          display: flex;
          position: absolute;
          top: 336px;
          right: -1px;
          flex-direction: column;
          align-items: flex-start;
          width: 288px;
          height: 59px;
        }
      }

      .autoWrapper8 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-self: stretch;
        margin-top: 11px;

        .text3 {
          margin: 91px 0px 0px;
          line-height: 14px;
          letter-spacing: 0;
          color: #000000;
          font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 14px;
          font-weight: 500;
        }
      }

      .autoWrapper9 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-self: stretch;
        margin-top: 11px;

        .radioGroup {
          display: inline-flex;
          flex-direction: column;
          align-items: flex-start;
          align-self: stretch;
          margin-right: 445px;
          row-gap: 8px;

          .default {
            flex-shrink: 0;
            line-height: 14px;
            letter-spacing: 0;
            color: #000000;
            font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 14px;
            font-weight: 500;
          }

          .ellipse4 {
            flex-shrink: 0;
            border: 1px solid var(--slate-200, #e2e8f0);
            border-radius: 50%;
            background: #ffffff;
            width: 16px;
            height: 16px;
          }

          .radioButton {
            display: inline-flex;
            flex-shrink: 0;
            align-items: center;
            align-self: stretch;
            column-gap: 8px;
          }

          .radioButton2 {
            display: inline-flex;
            flex-shrink: 0;
            align-items: center;
            align-self: stretch;
            column-gap: 8px;
            margin-right: 5px;

            .ellipse42 {
              display: flex;
              flex-shrink: 0;
              align-items: center;
              border: 1px solid var(--slate-200, #e2e8f0);
              border-radius: 50%;
              background: #ffffff;
              padding: 3px;

              .ellipse5 {
                border-radius: 50%;
                background: #000000;
                width: 8px;
                height: 8px;
              }
            }
          }

          .radioButton3 {
            display: inline-flex;
            flex-shrink: 0;
            align-items: center;
            align-self: stretch;
            column-gap: 8px;
            margin-right: 5px;
          }
        }

        .textarea {
          display: flex;
          align-items: flex-start;
          column-gap: 10px;
          margin-top: 38px;
          border: 1px solid var(--slate-300, #cbd5e1);
          border-radius: 6px;
          background: #ffffff;
          padding: 7px 11px;
          width: 530px;
          height: 80px;

          .typeYourMessageHere {
            flex-grow: 1;
            line-height: 20px;
            letter-spacing: 0;
            color: var(--slate-400, #94a3b8);
            font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 14px;
          }
        }

        .button {
          display: inline-flex;
          align-items: center;
          align-self: stretch;
          justify-content: center;
          column-gap: 10px;
          margin: 168px 228px 0px 214px;
          border-radius: 6px;
          background: var(--slate-900, #0f172a);
          padding: 8px 16px;

          .continue {
            flex-shrink: 0;
            line-height: 24px;
            letter-spacing: 0;
            color: #ffffff;
            font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 14px;
            font-weight: 500;
          }
        }
      }
    }

    .line3 {
      margin-top: 11px;
      margin-left: 15px;
      background: #d9d9d9;
      width: 1421px;
      height: 1px;
    }

    .autoWrapper11 {
      display: flex;
      align-items: flex-start;
      align-self: stretch;
      justify-content: space-between;
      margin-top: 22px;
      padding-right: 758px;
      padding-left: 15px;

      .text4 {
        margin: 3px 0px 0px;
        line-height: 17px;
        letter-spacing: 0;
        color: #000000;
        font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 14px;
      }
    }

    .autoWrapper17 {
      display: flex;
      align-items: center;
      align-self: stretch;
      justify-content: space-between;
      margin-top: 13px;
      padding-right: 28px;
      padding-left: 15px;

      .line22 {
        margin-top: 7px;
        background: #d9d9d9;
        width: 288px;
        height: 1px;
      }

      .bfc842820B824A3A99A73 {
        margin: 0px 0px 0px 15px;
        width: 234px;
        height: 14px;
        line-height: 20px;
        letter-spacing: 0;
        color: #000000;
        font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 12px;
      }

      .billyMacLocal3 {
        line-height: 20px;
        letter-spacing: 0;
        color: #000000;
        font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 12px;
      }

      .autoWrapper13 {
        display: flex;
        align-items: center;
        align-self: stretch;
        justify-content: space-between;
        margin-top: 7px;
        padding-right: 39px;
        padding-left: 15px;

        .text5 {
          line-height: 20px;
          letter-spacing: 0;
          color: #8ad055;
          font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 12px;
        }
      }

      .autoWrapper14 {
        position: relative;
        width: 288px;
        height: 503px;

        .autoWrapper12 {
          display: flex;
          align-items: flex-start;
          align-self: stretch;
          justify-content: space-between;
          margin-top: 12px;
          padding-right: 12px;
          padding-left: 15px;

          .vector {
            margin-top: 6px;
            width: 6px;
            height: 12px;
          }
        }

        .rectangle4 {
          position: absolute;
          top: 0;
          left: 0;
          border: 1px solid #d9d9d9;
          border-radius: 10px;
          background: #ffffff;
          width: 288px;
          height: 503px;
        }

        .group15 {
          display: flex;
          position: absolute;
          top: 14px;
          right: -1px;
          flex-direction: column;
          align-items: flex-start;
          width: 288px;
          height: 81px;
        }

        .group16 {
          display: flex;
          position: absolute;
          top: 105px;
          right: -1px;
          flex-direction: column;
          align-items: flex-start;
          width: 288px;
          height: 81px;
        }

        .group17 {
          display: flex;
          position: absolute;
          top: 196px;
          right: -1px;
          flex-direction: column;
          align-items: flex-start;
          width: 288px;
          height: 81px;
        }

        .group18 {
          display: flex;
          position: absolute;
          top: 287px;
          right: -1px;
          flex-direction: column;
          align-items: flex-start;
          width: 288px;
          height: 81px;
        }

        .group19 {
          display: flex;
          position: absolute;
          top: 378px;
          right: -1px;
          flex-direction: column;
          align-items: flex-start;
          width: 288px;
          height: 81px;
        }
      }

      .autoWrapper16 {
        position: relative;
        width: 288px;
        height: 503px;

        .autoWrapper15 {
          display: flex;
          align-items: flex-start;
          align-self: stretch;
          margin-top: 12px;
          padding-right: 12px;
          padding-left: 15px;

          .a19216811403 {
            margin: 0px 0px 0px 83px;
            line-height: 20px;
            letter-spacing: 0;
            color: #000000;
            font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 12px;
          }

          .vector2 {
            margin-top: 6px;
            margin-left: 22px;
            width: 6px;
            height: 12px;
          }
        }

        .rectangle5 {
          display: flex;
          position: absolute;
          top: 0;
          left: 0;
          align-items: flex-start;
          border: 1px solid #d9d9d9;
          border-radius: 10px;
          background: #ffffff;
          padding-top: 11px;
          padding-bottom: 409px;
          width: 288px;
          height: 503px;

          .rectangle7 {
            background: #f5f5f5;
            width: 286px;
            height: 81px;
          }
        }

        .group10 {
          display: flex;
          position: absolute;
          top: 12px;
          right: -1px;
          flex-direction: column;
          align-items: flex-start;
          width: 288px;
          height: 81px;
        }

        .group11 {
          display: flex;
          position: absolute;
          top: 105px;
          right: -1px;
          flex-direction: column;
          align-items: flex-start;
          width: 288px;
          height: 81px;
        }

        .group12 {
          display: flex;
          position: absolute;
          top: 198px;
          right: -1px;
          flex-direction: column;
          align-items: flex-start;
          width: 288px;
          height: 81px;
        }

        .group13 {
          display: flex;
          position: absolute;
          top: 291px;
          right: -1px;
          flex-direction: column;
          align-items: flex-start;
          width: 288px;
          height: 81px;
        }

        .group14 {
          display: flex;
          position: absolute;
          top: 384px;
          right: -1px;
          flex-direction: column;
          align-items: flex-start;
          width: 288px;
          height: 81px;
        }
      }

      .rectangle6 {
        display: flex;
        align-items: flex-start;
        border: 1px solid #d9d9d9;
        border-radius: 10px;
        background: #ffffff;
        padding: 11px 421px 370px 15px;

        .billyBillyMacMonihub {
          width: 348px;
          line-height: 20px;
          letter-spacing: 0;
          color: #000000;
          font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 12px;
        }
      }
    }
  }
}
